<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>Servlet.Hello</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>events</servlet-name>
        <servlet-class>Servlet.Events</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>events</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>thanks</servlet-name>
        <servlet-class>Servlet.Thanks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>thanks</servlet-name>
        <url-pattern>/thanks</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>widget</servlet-name>
        <servlet-class>Servlet.Widgets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>widget</servlet-name>
        <url-pattern>/widget</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>savewiki</servlet-name>
        <servlet-class>Servlet.SaveWiki</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>savewiki</servlet-name>
        <url-pattern>/savewiki</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>Servlet.SearchWiki</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>


</web-app>